<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Flashcards</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

<div class="current-set-container">
    <p class="current-set">Current set: {{ set_name }}</p>
</div>

<div class="flashcard-container">
    <button id="button_prev" class="material-icons">chevron_left</button>
    <div id="flashcard" class="flashcard" onclick="toggleCard(true)">
        <div class="card-inner">
            <div class="card-front" id="question"></div>
            <div class="card-back hidden" id="answer"></div>
        </div>
    </div>
    <button id="button_next" class="material-icons">chevron_right</button>
</div>

<div class="side-menu">
    <button id="menu-button" class="material-icons" onclick="toggleMenu()">menu</button>

    <div class="add-question">
        <h2 class="question-text">Add Q&A</h2>
        <form action="/add_question" method="POST">
            <input type="text" name="question" id="question-input" placeholder="Question">
            <input type="text" name="answer" id="answer-input" placeholder="Answer">
            <button id="add-button" class="material-icons">add</button>
        </form>
    </div>
    <div class="delete-question">
        <h2 class="question-text">Delete Q&A</h2>
        <form action="/delete_question" method="POST">
            <select id="question-delete" name="question_id">
                {% for question in questions %}
                <option value="{{question._id}}">{{question["question"]}}</option>
                {% endfor %}
            </select>
            <button type="submit" id="delete-button" class="material-icons">delete</button>
        </form>
    </div>
    <div class="change-set">
        <h2 class="set-text">Change set</h2>
        <form action="/change_set" method="post">
            <select id="set-change" name="set_name">
                {% for set in sets %}
                <option value="{{set}}">{{set}}</option>
                {% endfor %}
            </select>
            <button type="submit" id="change-set-button" class="material-icons">change_circle</button>
        </form>
    </div>
</div>

<button id="theme-toggle" class="material-icons">brightness_4</button>
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>