body {
    font-family: "Varela Round", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0078D4;
}

.flashcard-container {
    width: 700px;
    height: 470px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
}
.dark-theme {
    background-color: #333; /* Dark background color */
    color: #fff; /* Light text color */
}

.dark-theme .flashcard-container {
    background-color: #3c3c3c; /* Dark flashcard background */
}

#theme-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 34px;
    background-color: transparent; /* Remove background color */
    border: none; /* Remove border */
    cursor: pointer;
}