body {
    font-family: "Varela Round", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0078D4;
}

   .flashcard {
            width: 700px;
            height: 500px;
            font-size: 34px;
            background-color: #fff;
            display: flex;
            order-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: transform 0.5s ease;
            perspective: 1000px; /* Dodaj perspektywę dla efektu 3D */
        }

        .card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            transition: transform 0.5s ease;
            transform-style: preserve-3d;
        }

        .card-front,
        .card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
        }

        .card-front {

            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card-back {
            display: flex;
            justify-content: center;
            align-items: center;
            transform: rotateY(180deg); /* Domyślnie wyświetlaj tylną stronę kartki */
        }

        .hidden {
            display: none;
        }
.dark-theme {
    background-color: #333; /* Dark background color */
    color: #fff; /* Light text color */
}

.dark-theme .flashcard {
    background-color: #3c3c3c; /* Dark flashcard background */
}

#theme-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 34px;
    background-color: transparent; /* Remove background color */
    border: none; /* Remove border */
    cursor: pointer;
}

.hidden {
    display: none;
}