body {
    font-family: "Varela Round", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0078D4;
}

/* CHANGE THEME */
.dark-theme {
    background-color: #333;
    color: #fff;
}

#theme-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 34px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* FLASHCARDS */

.flashcard {
    font-size: 40px;
    width: 700px;
    height: 500px;
    background-color: #fff;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s ease;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow-wrap:break-word;
    text-align: center;
}

.card-front {
    text-align: center;
    overflow-wrap:break-word;
    display: flex;
    justify-content:center;
    align-items: center;
}

.card-back {
    text-align: center;
    overflow-wrap:break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

.dark-theme .flashcard {
    background-color: #3c3c3c;
}


/* SIDE MENU */

.side-menu {
    position: fixed;
    top: 0;
    left: -290px;
    width: 250px;
    height: 100%;
    background-color: #f4f4f4;
    padding: 20px;
    transition: left 0.5s ease;
    z-index: 9999;
}

.dark-theme .side-menu{
    background-color: #3c3c3c;
}

#menu-button {
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 10000;
    background-color: transparent;
    border: none;
    font-size: 34px;
}

.add-question{
    padding-bottom: 20px;
}

.question-text{
    padding-top: 5%;
    text-align: center;
    font-size: 29px;
}

.set-text{
    padding-top: 12%;
    text-align: center;
    font-size: 29px;
}

#question-input,
#answer-input
{
    margin: auto;
    width: 228px;
    
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#question-select,
#question-delete,
#set-change
{
    margin: auto;
    width: 100%; 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.show-inputs .add-question {
    display: block;
    padding-bottom: 20px;
    
}

#add-button {
    background-color: #0078D4; 
    color: white; 
    border: none; 
    border-radius: 14px; 
    width: 250px; 
    height: 40px; 
    font-size: 24px; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
}

#add-button:hover {
    background-color: #01548f; 
}

#delete-button {
    font-size: 24px;
    background-color: rgb(207, 0, 0); 
    color: white;
    border: none;
    width: 250px; 
    height: 40px; 
    border-radius: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#delete-button:hover {
    background-color: darkred; 
}

#change-set-button{
    font-size: 24px;
    background-color: rgb(1, 180, 10); 
    color: white;
    border: none;
    width: 250px; 
    height: 40px; 
    border-radius: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#change-set-button:hover {
    background-color: darkgreen;
}
/* BUTTONS TO CHANGE FLASHCARDS */

#button_prev {
    position: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 80px
}

#button_next {
     position: flex;
     background-color: transparent;
     border: none;
     cursor: pointer;
     font-size: 80px
}