<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flashcards</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round">
</head>
<body>
<div class="flashcard" onclick="toggleCard()">
        <div class="card-inner">
            <div class="card-front" id="question">{{ question }}</div>
            <div class="card-back hidden" id="answer">{{ answer }}</div>
        </div>
    </div>
<button id="theme-toggle" class="material-icons">brightness_4</button>
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>